.footer
    p ООО "SEVWAY"
    p 299053 Севастополь, ул. Университетская, 33
    p ИНН: 1234567890
    p ОГРН 1234567890987
    .flex 
        a(href="https://play.google.com/store?hl=ru&gl=US")
            img(src=img+"Кнопка Google Play.png", alt="")
        a(href="#")
            img(src=img+"Кнопка App Store.png", alt="")
