.header
    a.header__logo(href="#") SEVWAY
    .header__menu
        nav(class="main-nav main-nav-dop" role="navigation")
            input(id="main-menu-state" type="checkbox")
            label.main-menu-btn(for="main-menu-state")
                span.main-menu-btn-icon Toggle main menu visibility
            ul(id="main-menu" class="sm sm-clean")
                li
                    a(href="#") Главная
                li
                    a(href="#") Автопарк
                li
                    a(href="#") Тарифы
                li
                    a(href="#") Зона покрытия
                li
                    a(href="#") Поддержка
                